[2012-01-03 12:40] andreslucena opened #1 "Crear scaffold de Texto"
Tiene que tener:
- Título (string)
- Texto (textarea)
- Tags (usando act_as_taggable)

[2012-01-03 12:42] andreslucena opened #2 "Crear scaffold de Imagen"
Tiene que tener:
- Título (string)
- File upload para la imagen (usando paperclip o algo por el estilo)
- Tags (usando act_as_taggable)

[2012-01-03 12:43] andreslucena opened #3 "Crear scaffold de Video"
Tiene que tener:
- Título (string)
- URL del video (usando act_as_unvlogable)
- Tags (usando act_as_taggable)

[2012-01-03 12:46] andreslucena opened #4 "Investigar librería para el mapa conceptual"
Investigar una librería Javascript de mapa conceptuales que entre otras cosas:
- Permite tener callbacks al hacer click en un nodo (para mostrar por AJAX en un sidebar los contenidos asociados a los tags asociados a ese nodo)
- Permite asociar un nodo con varios padres
- Permite meter etiquetas en las relaciones

[2012-01-03 12:48] andreslucena opened #5 "Tags: autocomplete estilo StackOverflow"
Que cuando el usuario este agregando tags a un contenido (Texto, Imagen, Video) pueda hacerlo como stackoverflow (con AJAX, poniendo varios tags que correspondan)

[2012-01-03 12:50] andreslucena opened #6 "Implementar librería para el mapa conceptual"
Relacionada con https://github.com/alabs/15mcc/issues/4

Debería permitir:
- Ir agregando nodos a un mapa conceptual
- Permitir agregar un nodo con varios padres
- Asociar tags a un nodo
- Al hacer click sobre un nodo mostrar los tags y los contenidos asociados.

[2012-01-03 12:52] andreslucena opened #7 "Creación de usuarios"
Usando devise:
- crear usuarios con nick (para mostrar publicamente en el contenido)
- comprobacion de cuenta con token (envio de correo y todo eso)
- recuperación de contraseña

[2012-01-03 12:54] andreslucena opened #8 "Roles de usuarios"
Usando cancan, definir 2 permisos de usuarios:
- Admin: puede modificar/borrar cualquier tipo de contenido, así como modificar el mapa conceptual
- Usuario: puede agregar contenidos, asi como modificar/borrar solamente los suyos

[2012-01-03 13:03] andreslucena opened #9 "Documentación: como montar el entorno de desarrollo"
RVM, bundler y esas cosas, ponerlas en un README junto con enlace a la lista y al wiki de github

[2012-01-14 19:39] erubio commented on #9
He subido un pequeño how to en el fichero readme del root del proyecto para que sirva de referencia, con los pasos que he seguido yo para configurar el entorno.

[2012-01-18 22:04] pedrogonzalezj commented on #1
Los scaffold no tienen mucha discusión posible. ¿Los subo a ver si se empieza a animar un poco el proyecto?

[2012-01-18 22:05] pedrogonzalezj commented on #2
Lo mismo que la de texto, por mi parte los subo si os parece bien a todos.

[2012-01-18 22:14] pedrogonzalezj commented on #2
File upload con paperclip. relación uno a uno entre el modelo y fichero.
Me surge la duda de si utilizamos nomenclatura y comentarios en inglés o castellano.
También necesitamos saber si vamos a tener un tamaño fijo de las imágenes o vamos a mantener el original. Yo procesaría las imágenes a dos o tres tamaños, por ejemplo: 50x50, 160x140 y 550x550, además es necesario decidir la ruta de almacenam

[2012-01-19 08:37] apardo commented on #1
Hay que crear tres modelos: texto, imagen y video usando Mongoid. Es muy similar a ActiveRecord. Si tienes alguna duda pregunta sin problemas.

[2012-01-19 10:01] apardo commented on #2
Mejor usar inglés en la nomenclatura, sino tendremos problemas con los inflections y demás. Sobre el tamaño de las imágenes lo pregunto y os cuento.

[2012-01-24 14:07] coleoptero commented on #1
Entre los comentarios en la lista de correos se habló de pistas de audio. Creo recordar que hubo respuestas a favor... ¿Cómo queda esto?

[2012-01-24 17:05] andreslucena commented on #1
@coleoptero el audio va para adelante. Molaría encontrar algo como act_as_unvlogable... Creas el ticket para el scaffold o quieres hacerlo directamente?

[2012-01-24 17:06] andreslucena commented on #4
La que he visto que se acerca más a lo que queremos es esta:

http://thejit.org/static/v20/Jit/Examples/Hypertree/example2.html

Alguien conoce alguna otra?

[2012-01-25 09:19] andreslucena commented on #9
@erubio lo he puesto un poco mas bonito...

Creo que lo unico que falta es poner la documentacion del mongo, aca se complica porque RVM es similar para todos los Unixes, pero la instalación del mongo varia mismamente entre las distros de Linux, ya ni hablar de OSX (si fink o brew o macports)...

Igual ponemos directamente links a las docus de los principales SO y ya??

[2012-01-25 10:21] vsama opened #10 "utilización de metadatos de imágenes"
Cuando un usuario sube una foto sería interesante que se leyesen los metadatos de la foto para ahorrarle al usuario que rellene campos.

con metadatos me refiero principalmente a los IPTC (http://en.wikipedia.org/wiki/IPTC_Information_Interchange_Model) o
XMP (http://en.wikipedia.org/wiki/Extensible_Metadata_Platform)

la idea aproximada de cómo sería esta funcionalidad es la siguiente:
- el usuar

[2012-01-25 10:36] vsama opened #11 "publicar multiples imágenes a la vez"
Sería deseable que el usuario pueda publicar varias fotos a la vez, simplemente seleccionando varios ficheros de su ordenador.

Creo que esto ahorraría mucho tiempo a los usuarios a la hora de publicar material

Entiendo que si se utilizan los metadatos de las imágenes se deberán mostrar todas al mismo tiempo para que el usuario las revise y modifique lo que necesite, esto quizás es una complicaci

[2012-01-25 10:50] vsama commented on #11
claro, claro, esto era sólo para que quedase apuntado ya que lo comenté en la lista.
Justo se comentaba en la lista de correo que podría dejarse para una segunda versión

[2012-01-25 10:51] erubio commented on #9
@andreslucena Queda mucho mejor así, gracias!

En cuanto a lo de mongo creo que tienes razón y lo mejor será poner los enlaces a la documentación como hice para RVM y que cada cual use las que necesita para su OS.

[2012-01-25 10:53] pedrogonzalezj commented on #11
Tienes razón, he movido mis preguntas al ticket sobre el modelo de imagen.
:D

[2012-01-25 10:56] pedrogonzalezj commented on #2
Necesitamos saber como va a ser el proceso de subida de
imgenes. Sncrono? Asncrono?Ajax o post al servidor?¿Websockets? dependiendo de
como queramos esto algunas opciones sern viables y otras no. Además ahora mismo es crítico decidir como y donde se van a almacenar las imágenes y las rutas que queremos dar a estas.

[2012-01-25 12:06] vsama commented on #4
para hacer grafos he usado muchas veces Graphviz (http://www.graphviz.org/) pero creo que no ofrece una salida html o similar y he visto que hay una cosa similar para ruby que se llama RailRoad

http://railroad.rubyforge.org/
RailRoad is a class diagrams generator for Ruby on Rails applications

no sé si sirve porque no permite añadirle "dinamismo" pero aquí lo dejo por si ayuda

[2012-01-25 14:21] coleoptero opened #12 "Crear scaffold de Audio"
En relación a lo hablado sobre contemplar también las pistas de audio.

Tiene que tener:

[code]

[2012-01-25 14:41] andreslucena commented on #4
He puesto unos ejemplos con thejit, faltaría resolver algunos bugs:

https://github.com/alabs/15mcc/tree/master/demos/mindmap/thejit

[2012-01-25 15:22] apardo commented on #3
Tarea terminada

[2012-01-25 15:22] #3 closed, assigned to apardo

[2012-01-25 15:25] apardo commented on #1
Para el formateo de textos propongo usar http://rubygems.org/gems/redcarpet y escribir en formato Markdown.

¿Os parece bien?

[2012-01-25 15:27] andreslucena commented on #9
@erubio he cambiado un poco lo que ponías en la docu, traducido al castellano y lo hemos movido en webapp para diferenciar con la docu general (la no tecnica).

Gracias por el currazo, ya está hecho todo, cierro el ticket :)

[2012-01-25 15:27] #9 closed, assigned to andreslucena

[2012-01-25 15:28] andreslucena commented on #1
@apardo +1, aunque igual mejor dejarlo para otro ticket más adelante, de momento creo que con lo que hay ya se puede cerrar este ticket.

[2012-01-25 15:31] apardo commented on #1
Ok, lo dejamos para v0.2.

[2012-01-25 15:31] #1 closed, assigned to apardo

[2012-01-25 15:34] andreslucena commented on #6
relacionada con:

https://github.com/alabs/15mcc/issues/4

[2012-02-01 19:41] andreslucena commented on #5
Hecho con taggit:
http://aehlke.github.com/tag-it/examples.html

Mola porque tiene fallback a valores separados con comas si no se tiene activado javascript.

[2012-02-01 19:41] #5 closed, assigned to andreslucena

[2012-02-01 19:45] andreslucena opened #13 "jquery-ui: diseño inconsistente"
Elegir algun tema del jquery-ui que sea más bonito para el diseño que utilizamos. Se guarda en vendor/assets/stylesheets

En caso de no encontrar alguno se puede hacer uno propio en http://jqueryui.com/themeroller/

[2012-02-01 19:45] andreslucena opened #14 "tagit: diseño inconsitente"
Queda feo el taggit, igual se puede mejorar un poco el CSS; para ver un ejemplo ir a /texts/new

[2012-02-02 10:35] andreslucena opened #15 "Actualizar a la nueva versión de bootstrap"
http://twitter.github.com/bootstrap/

La versión actual está en

app/assets/stylesheets/

Habrá que cambiar la línea q la importa en

app/assets/stylesheets/application.css.sass

Igual se le puede dar una pasada al diseño actual e ir bootstrapeandolo.

[2012-02-02 10:44] andreslucena opened #16 "Aviso de copyright"
Cuando los usuarios vayan a poner un contenido (text/image/video) tienen que pasar un aviso de notificacion del copyleft y todo el tema:

""""
Al grabar el texto, aceptas ceder tus contribuciones de manera irrevocable bajo la Licencia Creative Commons Atribución Compartir-Igual 3.0 y la licencia GFDL. Aceptas ser citado, como mínimo, por medio de un enlace a la página donde has contribuido. Ver lo

[2012-02-02 11:36] andreslucena commented on #2
En principio ya está hecho, síncrono con POST estandar...

Se puede cerrar esto ya?

[2012-02-02 12:20] andreslucena commented on #10
He encontrado esto:
- https://github.com/picuous/exifr

Tiene GPS y date_time, por lo que por lo menos nos quitaríamos esos campos.

[2012-02-02 17:08] andreslucena opened #17 "Paginación para el listado de "Ultimos elementos" (en video, texto e imagenes)"
Paginación de 10 o 15 (normal, sin AJAX ni historias raras), con will_paginate y usando los estilos que ofrece boostrap

[2012-02-09 08:46] apardo commented on #2
Terminado

[2012-02-09 08:46] #2 closed, assigned to apardo

[2012-02-09 08:47] andreslucena commented on #4
https://github.com/alabs/15mcc/commit/7ac266dd92cb015b5f7adfb3ade605aeecb5360b

@lasubterranea ha puesto un ejemplo con d3, a mi me esta gustando más que lo que hice de JIT.

[2012-02-09 08:50] andreslucena commented on #7
Tambien pueden editar sus propios contenidos y agregar contenidos sin captcha.

[2012-02-09 10:07] andreslucena commented on #15
Hecho:

https://github.com/alabs/15mcc/commit/64be4ec5889f677b99766fc24bf80b7a499ea207

[2012-02-09 10:20] #15 closed, assigned to nobody

[2012-02-09 12:24] #17 closed, assigned to nobody

[2012-02-09 13:16] andreslucena opened #18 "recaptcha para usuario anonimo"

[2012-02-09 14:25] andreslucena commented on #18
hecho

[2012-02-09 14:25] #18 closed, assigned to andreslucena

[2012-02-09 14:42] #16 closed, assigned to nobody

[2012-02-09 18:09] andreslucena opened #19 "Mapas: pasarlo a openstreet maps"
Google Maps comienza a cobrar si hay muchas visualizaciones de sus mapas:
http://code.google.com/apis/maps/documentation/javascript/usage.html

En principio se podría hacer con la propia librería que utilizamos, gmasp4rails, utilizando el provider de openstreemaps/openlayers:
- https://github.com/apneadiving/Google-Maps-for-Rails/
- https://docs.google.com/spreadsheet/ccc?key=0AvG8BjhQ7xttdEFKR0Jw

[2012-02-11 15:12] pedrogonzalezj commented on #10
SI nadie está con esta tarea me pongo yo.

[2012-02-12 18:59] andreslucena commented on #10
@peome vale, ahora mismo creo q no hay nadie viendo esto. Te la asigno y nos cuentas algo.

[2012-02-13 16:30] #8 closed, assigned to apardo

[2012-02-13 16:30] andreslucena commented on #8
hecho con cancan

[2012-02-14 11:23] andreslucena commented on #4
Finalmente creo que vamos a pasar de d3/thejit, que aunque la visualizacion esta muy bonita no termina siendo muy usable.

He hecho una beta de como hacerlo con jquery a pelo, usando la libreria jsplumb para las conexiones:

https://github.com/alabs/15mcc/tree/master/demos/mindmap/jsplumb

Lo he puesto tambien (estatico) en /bank para ya tener algo...

[2012-02-14 11:39] #13 closed, assigned to andreslucena

[2012-02-14 11:39] #14 closed, assigned to andreslucena

[2012-02-15 09:24] apardo opened #20 "Implementar barra de progreso para las subidas"
Implementar una barra de progreso para las subidas de archivos usando Bootstrap

[2012-02-15 11:22] andreslucena opened #21 "formularios: tratar bien el error"
Si hay error en un campo de un formulario no se ve bien el fields_with_errors.

Hay que adaptarlo para bootstrap.

[2012-02-15 11:27] andreslucena commented on #20
Esto vendra bien para el Audio.

Por lo que veo hay que hackear un poco el nginx en production. Igual se puede dejar para más adelante, es una feature chula.

[2012-02-15 11:27] andreslucena opened #22 "formularios de subidas: html5 drag and drop API"
Eso, molaria que por ejemplo para subir imagenes o audios (los fileupload) pueda directamente arrastrarlo.

[2012-02-15 11:31] andreslucena opened #23 "Usuarios: poder iniciar sesión con username o email"
https://github.com/plataformatec/devise/wiki/How-To:-Allow-users-to-sign-in-using-their-username-or-email-address

[2012-02-15 11:32] andreslucena commented on #7
Como ya esta hecha en un 90% y falta solo esto de crear usuario con nick y lo de la comprobacion con devise (que no tiene perdida), he creado otro ticket para lo del nick:

https://github.com/alabs/15mcc/issues/23

[2012-02-15 11:32] #7 closed, assigned to apardo

[2012-02-15 12:06] iokese commented on #20
genial xD

El 15/02/12 10:24, Antonio Pardo escribió:

##

Daniel Vazquez
http://alabs.es/
Tel: (+34) 91 771 40 52

[2012-02-16 07:38] andreslucena commented on #19
De momento, teniendo en cuenta q varias funcionalidades no se comportan bien con openlayers, vamos a seguir utilizando google maps.

[2012-02-16 07:38] #19 closed, assigned to nobody

[2012-02-16 07:41] andreslucena opened #24 "Checkbox de TOS al crear un usuario"
En el formulario de registro de usuario, aceptar las condiciones de uso

[2012-02-16 07:42] andreslucena opened #25 "Checkbox de TOS al agregar un contenido como anonimo"
Aparte del captcha, los usuarios anonimos tienen que aceptar unas condiciones de uso al subir contenidos.

[2012-02-16 07:42] andreslucena opened #26 "Social: twitter/facebook/+1 en los contenidos"
En la ficha de contenido, botoncitos sociales de compartir.

[2012-02-16 07:43] andreslucena opened #27 "Admin: control de roles de usaurios"
Tener un listado de usuarios (con buscado por correo/nick) para poder cambiar el rol de los usuarios creados.

[2012-02-16 07:44] andreslucena opened #28 "Admin: poder marcar ciertos contenidos como "Visibles""
A traves de una estrella, los admins pueden seleciconar los contenidos que consideren que tienen que tener más visibilidad, de cara  que despues esos tenga mas relevancia al mostrar los contenidos.

[2012-02-16 09:10] andreslucena opened #29 "Usuario: perfiles"
Que los usuarios tengan un listado con sus posts (publico para otros usuarios).

[2012-02-16 09:40] andreslucena commented on #4
Finalmente se ha decidido tirar por la ultima opcion (jsplumb) para tener más control.

En principio se utilizará con los siguientes plugins:
- jquery
- jquery-ui
- jsplumb
- underscore
- jquery.mousewheel

[2012-02-16 09:40] #4 closed, assigned to andreslucena

[2012-02-17 08:23] andreslucena opened #30 "CSS: revisar accesbilidad"
Ir revisando el marcado de las páginas que hay ahora mismo e ir corrigiendo (o creando tickets) para arreglar marcado.

[2012-02-17 08:24] andreslucena opened #31 "Imagenes: galeria para mostrarlas"
En vez de mostrarlas en una tabla como ahora, se pueden usar los thumbnails que estan generados y ponerlo con estos estilos:

http://twitter.github.com/bootstrap/components.html#thumbnails

[2012-02-17 08:26] andreslucena opened #32 "Videos: galeria"
En vez de mostrarlas en una tabla como ahora, se pueden usar los thumbnails que estan generados y ponerlo con estos estilos:

http://twitter.github.com/bootstrap/components.html#thumbnails

[2012-02-20 07:20] #26 closed, assigned to nobody

[2012-02-20 07:31] pedrogonzalezj commented on #10
He estado mirando esto y aunque he encontrado alguna librería ninguna me ha convencido, me parece que la opción más viable es la que ha marcado @andreslucena
Si os parece creo un branch para probar y lo añado

[2012-02-20 08:02] andreslucena opened #33 "Línea de tiempo"
Hacerlo en /timeline (hay un placeholder ya), aplicando esta libreria:

http://timeglider.com/jquery/?p=intro

[2012-02-20 08:20] #32 closed, assigned to nobody

[2012-02-20 10:59] #23 closed, assigned to nobody

[2012-02-20 12:30] pedrogonzalezj commented on #10
¿Qué formatos de imagen admitimos ahora mismo que suban los usuarios?

[2012-02-20 12:36] #29 closed, assigned to nobody

[2012-02-20 12:43] andreslucena commented on #10
El 20/02/12 13:30, pedro escribió:

De momento no hay limitaciones, serían los mismos que permita el
MongoID::Paperclip.

Igual se podrían limitar a los que sean lógicos (jpg, png) en vez de
aceptar todo por defecto (alguno intentara incluso con BMP :P)

[2012-02-20 12:45] apardo commented on #20
No solamente para audio, para imágenes y textos también. Pueden ocupar más de unos pocos bytes y mientras sube se puede mostrar esa barra de progreso.

[2012-02-20 12:48] pedrogonzalezj commented on #10
Si, yo creo que estaría bien limitarlo a jpg, png y tiff, En el caso de las imágenes png no podríamos obtener los datos exif ya que no es un formato soportado.

[2012-02-20 13:25] #31 closed, assigned to nobody

[2012-02-20 15:10] andreslucena opened #34 "exception notifier"
Para recibir los errores en env production

[2012-02-20 15:44] apardo commented on #34
Ya estaba hecho

[2012-02-20 15:44] #34 closed, assigned to nobody

[2012-02-20 15:54] pedrogonzalezj commented on #10
Probando esta funcionalidad me surge la duda de su utilidad, veo que los datos de geolocalización ya los estamos cargando desde la dirección suministrada al hacer la subida de la imagen. ¿Tiene entonces sentido volver a obtener los datos de la imagen?¿Cómo lo veis?

[2012-02-20 17:15] #12 closed, assigned to apardo

[2012-02-20 17:52] #24 closed, assigned to nobody

[2012-02-20 17:52] andreslucena opened #35 "Audio: fallback para firefox y otros browsers"
No esta funcionando para firefox, solo para chrome.

[2012-02-20 17:55] andreslucena commented on #33
Este otro tiene mejor pinta: http://links.sourceforge.net/

[2012-02-21 01:18] apardo opened #36 "Slug para las URL's"
Slug en vez de object id con el título del recurso para imágenes, videos, textos, etc...

[2012-02-21 04:46] apardo commented on #27
Ya está hecha la parte de adminstración. El usuario tiene que tener el role admin para poder ver el enlace en la parte de arriba. Falta el buscador, no he conseguido poner en marcha typeahead de bootstrap porque no soporta remotes y me hago un lio. Si necesitas algo en el controlador dime.

[2012-02-21 05:18] #36 closed, assigned to nobody

[2012-02-21 05:21] apardo opened #37 "En firefox no se elimina el mensaje de flash al hacer click"

[2012-02-21 09:12] #33 closed, assigned to nobody

[2012-02-21 11:00] andreslucena commented on #27
hecho

[2012-02-21 11:00] #27 closed, assigned to andreslucena

[2012-02-21 11:10] andreslucena commented on #37
era por un error con el modal, el chrome no ejecutaba bien ciertos javascripts.

[2012-02-21 11:10] #37 closed, assigned to andreslucena

[2012-02-21 13:22] #25 closed, assigned to nobody

[2012-02-21 15:05] #35 closed, assigned to nobody

[2012-02-21 15:09] andreslucena commented on #10
@peome le estuve dando una vuelta y para que no ocurra lo que comentas, se me ocurre un cambio en el workflow de subida de las imagenes:

Cuando se sube la imagen solo estan los siguientes campos:
- Titulo
- Archivo
- Tags

Luego hay un boton de "siguiente", ahi es cuando hacemos la comprobacion y sacamos fecha y GPS. Se lo devolvemos al usuario para ver si esta de acuerdo con estos datos o si qui

[2012-02-21 15:13] pedrogonzalezj commented on #10
Me parece perfecto, entonces hago los cambios en el flujo también.

[2012-02-21 17:07] #28 closed, assigned to nobody

[2012-02-22 07:16] andreslucena commented on #22
Se puede usar esto:

https://github.com/blueimp/jQuery-File-Upload

[2012-02-22 12:41] pedrogonzalezj commented on #10
@andreslucena para poder realizar la transformación de las coordenadas de latitud y longitud he introducido la librería geocoder y he realizado modificaciones en gmaps4rails para la clase Image para que solo se encargue de mostrar datos y no realice geocoding sería interesante que el resto de entidades con datos geográficos utilicen geocoder para lo mismo.
También me gustaría proponer el cambio de

[2012-02-22 14:38] andreslucena commented on #10
El 22/02/12 13:41, pedro escribió:

Ok, dale todos los cambios que veas necesarios...

Lo cierto es que hay muchos atributos y metodos repetidos entre
audio/image/video/etc... ¿Los quieres separar en un mismo fichero e
importarlo en estos?

Otra cosa, tienes idea como hacer para mostrar el mapa geografico
directamente en el formulario y que puedan darle directamente con un
click??

[2012-02-22 14:49] pedrogonzalezj commented on #10
@andreslucena creo que los atributos comunes y métodos comunes sería buena idea trasladarlo a un modulo y luego incluirlos en las clases correspondientes.
No entiendo muy bien a que te refieres con darle directamente con un click.

[2012-02-22 15:06] iokese opened #38 "Nube tags no actualiza"
No refresca la nube de tags al meter un vídeo con sus tags correspondientes

[2012-02-23 06:54] andreslucena commented on #30
esto no tiene sentido hasta que haya el diseño real, asi que la cerramos.

[2012-02-23 06:54] #30 closed, assigned to nobody

[2012-02-24 10:51] pedrogonzalezj commented on #10
Ya está todo subido faltaría extraer todo el código común en un modulo. ¿La cierro?

[2012-02-24 11:53] pedrogonzalezj commented on #20
¿Supongo que os referís al Bootstrap de twitter? ¿Este http://twitter.github.com/bootstrap?

[2012-02-27 04:05] apardo commented on #20
Si @peome

[2012-02-27 07:31] pedrogonzalezj commented on #20
Ayer estuve mirando esta tarea, y he encontrado entre otros esto: https://github.com/blueimp/jQuery-File-Upload
Si nadie está con ello me pongo yo con esta tarea y a la vez intento meter el drag & drop que se comenta en otra.

[2012-02-27 08:49] andreslucena opened #39 "Modelos: DRY cosas comunes"
Entre text/audio/video/imagen hay mucho codigo de copy-paste.

Esto se tendría que mover a un fichero externo y llamarlo desde los modelos, para no repeteirse.

[2012-02-27 08:54] pedrogonzalezj commented on #39
Se puede extraer bastante si aplicamos geocoder también al resto. Ahora mismo podría ponerme con esta tarea o con la de la barra de progreso de imágenes.

[2012-02-27 09:24] andreslucena commented on #10
Vale, he creado otro ticket para lo del modulo común.

Cuando intento subir una imagen me pone lo siguiente:

Mongo::OperationFailure in ImagesController#create

Database command 'mapreduce' failed: (assertion: 'non ascii character detected'; assertionCode: '10213'; errmsg: 'db assertion failure'; ok: '0.0').

Finalmente crea la página, pero no sube la imagen ni le pone los metadatos.

[2012-02-27 09:28] pedrogonzalezj commented on #10
Tiene toda la pinta de que es un problema con la codificación, voy a mirar a ver que encuentro de esto.

[2012-02-27 10:01] pedrogonzalezj commented on #10
@andreslucena Por lo que he encontrado es posible que el problema sea que tu versión de spidermonkey no tiene soporte UTF-8
Aquí explican como instalarlo con soporte UTF-8: http://www.mongodb.org/display/DOCS/Building+Spider+Monkey

[2012-02-27 10:53] andreslucena commented on #39
Como más te guste, veo más urgente esta tarea del DRY porque es un lio
esto de tener que cambiar 1 cosa en 4 lugares :P

+1 a lo del geocoder, yo intenté de hacerlo pero me lié...

Por cierto, he cambiado la manera de localizar el contenido, uso un poco
de JS para hacer la busqueda y mostrarla en un mapa, me parece que es
menos propenso a errores.

[2012-02-27 10:57] pedrogonzalezj commented on #39
Perfecto, entonces me pongo con esto.

[2012-02-27 12:15] andreslucena commented on #6
ya esta implementada la funcionalidad basica.

[2012-02-27 12:15] #6 closed, assigned to andreslucena

[2012-02-27 13:44] apardo commented on #20
Dale @peome

[2012-02-27 16:00] andreslucena commented on #10
@peome gracias, no sabia si era un tema de mi mongo o que... Para no recompilar me puse el repo de mongo para Ubuntu y funciona todo perfectamente. Cierro el ticket.

[2012-02-27 16:00] #10 closed, assigned to peome

[2012-02-28 16:11] apardo commented on #38
No habia bug en el controlador, era tema los índices de Mongo. Borrando la DB Mongo se soluciona. Por lo tanto en el entorno que tenemos de staging hay que regenerar la base de datos.

[2012-02-28 23:33] apardo commented on #38
Se vuelve a reproducir el bug. Seguimos mirando.

[2012-02-29 10:40] andreslucena opened #40 "Audio: limitar que solo se puedan subir mp3/ogg"
En la línea 33 hay un validates_attachment_content_type, pero no parece funcionar con los OGG.

[2012-02-29 11:29] iokese opened #41 "Problema meter fotos"
No puedo meter datos para que la foto aparezca posicionada en el mapa.

[2012-02-29 11:51] iokese opened #42 "Formateo en subida de textos"
No se formatea, pone todo junto y sin saltos de linea, quizás habría que poner un editor.

[2012-02-29 12:16] andreslucena opened #43 "Mensaje de error de: We're sorry, but something went wrong."
Molaria que quedase un poco menos feo, ahora mismo es el por defecto de rails (letras rojas sobre fondo blanco).

[2012-02-29 12:17] andreslucena commented on #43
Lo mismo para los 404:

http://15mcc.alabs.es/alaa

[2012-02-29 15:17] andreslucena opened #44 "mapa conceptual: varias lineas"
hay veces al conectar dos nodos que se multiplican las lineas de unión.

[2012-02-29 18:27] andreslucena opened #45 "mapa conceptual: palabras largas"
Al poner palabras/frases largas en los nodos se rompe el diseño, el width/height esta hard-codeado.

[2012-02-29 18:27] andreslucena opened #46 "UserVoice: crearlo y configurarlo"
Dar de alta y configurar un uservoice para 15m.cc

[2012-03-01 08:24] andreslucena opened #47 "sitemap"

[2012-03-01 14:54] apardo commented on #41
Ademas está petando la subida de imágen.

[2012-03-02 11:16] apardo commented on #41
¿Lo está cogiendo del EXIF?

[2012-03-02 11:30] #46 closed, assigned to nobody

[2012-03-05 08:27] #44 closed, assigned to nobody

[2012-03-05 08:28] andreslucena commented on #42
Vamos a usar markdown:
- Redcarpet para mostrarlo
- Pagedown para la edicion: http://pagedown.googlecode.com/hg/demo/browser/demo.html

[2012-03-05 08:40] andreslucena opened #48 "Traducir mensajes"
Muchos de los mensajes de flash (por no decir casi todos) se muestran en ingles. Hay que revisar las traducciones.

[2012-03-05 08:43] #40 closed, assigned to nobody

[2012-03-05 09:21] #42 closed, assigned to andreslucena

[2012-03-05 09:26] #45 closed, assigned to nobody

[2012-03-05 10:40] iokese opened #49 "Errores esporádicos en el servidor"
Cada X tiempo aparece una página de error "Status Code 500"

[2012-03-05 16:25] #47 closed, assigned to andreslucena

[2012-03-05 16:47] #43 closed, assigned to andreslucena

[2012-03-07 08:17] andreslucena commented on #39
@peome que tal va eso? Lo pudiste ver?

[2012-03-07 08:28] pedrogonzalezj commented on #39
@andreslucena si lo estuve mirando este fin de semana y tengo en local algunas modificaciones, la verdad es que es bastante problemático. He probado con modulos y se puede extraer poco código porque las llamadas de Mongoid fallan, también he probado con una superclase y el problema es que entonces se nos genera una nueva colección en mongo. Ahora quería probar a ver si con composición conseguía al

[2012-03-07 08:39] andreslucena commented on #49
La exepcion es esta:

undefined method `<=' for nil:NilClass

app/models/user.rb:68:in `role?'
app/models/ability.rb:62:in`initialize'
app/controllers/pages_controller.rb:18:in `profile'

Pude encontrarla en development siguiendo estos pasos:
- Crear usuario
- Darle permisos de admin
- Dirigirse a /profile/username

[2012-03-07 10:29] #48 closed, assigned to andreslucena

[2012-03-07 13:03] apardo commented on #49
A ver si este commit lo soluciona. 251704174994ce14e5faaf4b706da09306bcf281

[2012-03-07 13:32] #49 closed, assigned to apardo

[2012-03-07 14:06] andreslucena commented on #39
@peome creo que haciendo la superclase puede bastarnos: http://mongoid.org/docs/documents/inheritance.html

Por lo que entiendo con esto generariamos un atributo _type que tendria si es text/image/audio/etc...

Entiendo que el unico problema que sería es la perdida de los datos que estan ahora mismo, que aunque podríamos hacer un script para la migración, tampoco lo veo necesario, en http://beta.1

[2012-03-07 14:14] pedrogonzalezj commented on #39
@andreslucena perfecto, en principio descarté el problema de la herencia porque crea una nueva colección que es en la que se incluye el type pero si no lo veis mal adelante entonces con la herencia. Particularmente creo que a nivel de diseño es lo que más encajaba. También daba algún problema geocoder pero eso creo que lo puedo solventar sin problema.
Por mi parte entonces creo una superclase que

[2012-03-07 14:16] andreslucena commented on #39
@peome +1

[2012-03-07 14:18] apardo commented on #39
@peome +1 dale

[2012-03-08 09:42] andreslucena commented on #21
Encontre este gist magico: https://gist.github.com/1829710/

Soluciona el problema del field_with_errors y deja mucho más limpio el HTML...

Como contra, hay que refactorizar casi todos los formularios y pasarlos a i18n, pero creo que vale la pena.

[2012-03-08 14:18] apardo commented on #21
¿De qué gema depende esto?

[2012-03-08 14:22] andreslucena commented on #21
De ninguna. Es un initializer y una libreria que se encarga de cambiar
el form_for por defecto para adaptarse al Bootstrap, las vistas terminan
quedando mucho más limpias:
- <div class="control-group">
- <%= f.label :username, "Usuario", :class => "control-label" %>
- <div class="controls">
- <%= f.text_field :username, :required => true %>
- </div>
- </div>
- <%= f.text_field :username, :required

[2012-03-08 14:25] apardo commented on #21
Pues +1

[2012-03-08 16:14] pedrogonzalezj commented on #39
@andreslucena @apardo ya he subido una primera versión, creo que todavía puedo encapsular un poco más de código y ordenarlo un poco pero en principio sería más o menos así. También voy a cambiar street por address y tendría que adaptar la selección de datos geográficos a geocoder para los textos, vídeos y audio ya que con geocoder ahora no separa la dirección en dirección, ciudad y pais.
También h

[2012-03-08 16:16] pedrogonzalezj commented on #41
Ya esta solucionado había borrado sin darme cuenta la llamada a geocode antes de procesar la imagen. Lo de que le este petando es muy probable que vuelva a ser el problema de la codificación UTF-8

[2012-03-09 11:48] pedrogonzalezj commented on #39
@andreslucena @apardo ¿Os parece si agrupo en un único campo de texto en el formulario de creación de imágenes los campos calle, ciudad y pais igual que en el resto de contenidos?

[2012-03-09 13:06] pedrogonzalezj commented on #41
@apardo mira esto https://github.com/alabs/15mcc/issues/10 Si no te lo soluciona, ¿Me puedes pasar una traza y miro por qué es?

[2012-03-09 14:15] andreslucena commented on #39
@peome +1 a lo que decis de cambiar el formulario en las imagenes, el
codigo javascript q hace la movida de buscar está en
app/assets/javascripts/maps.js, pero igual de eso me puedo encargar yo
si queres

[2012-03-09 15:23] apardo opened #50 "Arreglar accesibilidad formulario de registro"
me salta un error: "1 error prohibited this user from being saved: Username is too long (maximum is 10 characters)" -> si hay ese límite debería advertirse antes y limitar la cajita en nº de caracteres / también creo que ese texto debería aparecer en castellano.

[2012-03-09 15:24] apardo opened #51 "Todos los textos y notificaciones a castellano"
el mensaje de bienvenida que aparece arriba "Welcome! You have signed up successfully." debería aparecer en castellano. En general todos los avisos y textos de la web.

[2012-03-09 15:26] apardo opened #52 "Validar registro de usuario"
Al crear el usuario no envía un email de pre-confirmación en el que ‘clickar’ para confirmar la creación de ese usuario. Sería mejor con ese doble chequeo. Así nadie se puede hacer un usuario con tu email.

[2012-03-09 15:28] apardo opened #53 "Nombre de usuario y avatar arriba"
Al estar logueado, estaría bien que apareciera tu nombre de usuario y tu avatar en todas las páginas por arriba...

[2012-03-09 15:31] apardo opened #54 "Mejorar el formulario de recuperación de contraseña"
en el proceso de “recuperar el password”, y meter un email erróneo sale esto.

Redactarlo o mejorarlo o poner más pequeño:

[2012-03-09 16:09] apardo commented on #53
Hecho

[2012-03-09 16:09] #53 closed, assigned to nobody

[2012-03-09 16:46] apardo commented on #52
Activado y funcionando. Falta traducir las vistas y mensajes flash.

[2012-03-09 16:53] apardo commented on #39
Parece que en la subida de video hay problemas. Por lo que veo no se está ejecutando el callback de Content de before_save. Concretamente preprocessing, que asigna el título al video. Sin eso no se puede guardar porque no valida. Esto deberia funcionar según la OOP pero parece que no, así que propongo llevar los callbacks al modelo específico.

[2012-03-09 17:28] apardo commented on #41
Ahora mismo al subir una imágen y darte a siguiente genera esta excepción:

EXIFR::MalformedJPEG in ImagesController#create

no start of image marker found
Rails.root: /home/apardo/alabs/repos/15mcc/webapp

Application Trace | Framework Trace | Full Trace
app/models/image.rb:45:in `new'
app/models/image.rb:45:in`extract_metadata'
app/models/image.rb:34:in `preprocessing'
app/controllers/images_con

[2012-03-10 10:42] pedrogonzalezj commented on #39
Me pongo con eso.

[2012-03-10 12:19] pedrogonzalezj commented on #39
Solucionado, el problema estaba en que no me había dado cuenta de que existía una validación sobre el campo title sobre la superclase y entonces impedía la creación de videos ahora funciona correctamente.

[2012-03-10 13:53] pedrogonzalezj commented on #41
Parece ser algún tipo de error a la hora de procesar el marcador de inicio de los datos exifr en el fichero binario, lo único que se me ocurre es captura la excepción y hacer log porque no consigo reproducirla. ¿La cierro?

[2012-03-10 18:14] pedrogonzalezj commented on #39
Por mi parte ya está todo, he modificado la creación de imágenes para que sea igual al resto la captura de datos geográficos y he corregido el error que se daba en el resto de contenidos porque no separaba los datos de dirección en dirección, ciudad y pais. ¿Cierro la tarea?

[2012-03-12 08:33] #21 closed, assigned to andreslucena

[2012-03-12 12:16] apardo commented on #41
+1

[2012-03-12 12:17] apardo commented on #39
+1

[2012-03-12 12:17] #41 closed, assigned to andreslucena

[2012-03-12 12:18] #39 closed, assigned to peome

[2012-03-12 14:02] #54 closed, assigned to nobody

[2012-03-12 15:07] andreslucena opened #55 "Poner enlace en condiciones de uso"
Tiene que enlazar con la page de condiciones-de-uso.

[2012-03-12 15:53] apardo commented on #38
Solucionado con cambio de gema.

[2012-03-12 15:53] #38 closed, assigned to apardo

[2012-03-13 12:28] fanetin opened #56 "Crear cuenta y loguearse con Facebook y twitter"
Crear cuenta y loguearse con Facebook y twitter

[2012-03-13 12:31] fanetin commented on #55
Os mandaremos un texto para linkear. El mismo que irá abajo en el link de PRIVACIDAD Y CONDICIONES DE USO

[2012-03-13 12:37] fanetin opened #57 "Posibilidad de subir avatar"
Además de la gestión del avatar por parte de Gravatar, haría falta que el usuario pueda subir una foto propia de su disco duro de avatar y relacionarla a su cuenta. Como en cualquier servicio.

[2012-03-13 12:44] fanetin opened #58 "Procedimiento, y qué pasa con el material al cerrar una cuenta de usuario"
Quedamos en que cualquier usuario puede cerrar su cuenta cuando quiera.
Cuando se borre una cuenta, nos quedamos con el material subido por ese usuario, asociado a un nuevo usuario anónimo.
una vez borrada la cuenta, en caso de querer borrar algún material en concreto, el usuario puede usar el formulario de contacto y explicar su motivo. Se le atiende por email.
Al cerrar la cuenta hay que enviarl

[2012-03-13 12:48] fanetin opened #59 "Procedimiento de bloqueo de usuario"
Hay que implementar un sistema donde los administradores de la web puedan bloquear a un usuario que esté subiendo material no adecuado o trolleando demasiado.
Lo ideal sería un botón de bloqueo y banear ese email y nombre de usuario. Y que el proceso sea reversible.

[2012-03-13 12:55] fanetin opened #60 "Subida de materiales -> campo de autor"
En la subida de materiales, y en general en cualquier representación de un contenido debe de haber siempre un campo del autor.
A la hora de subir puede haber un tick que diga "soy el autor" y entonces el material se asocia a la cuenta de usuario logueada. Si no se tickea, se introduce el nombre del autor en un campo de texto y ese nombre es el autor asociado a la obra subida.
Explicaremos esto con

[2012-03-13 12:58] fanetin opened #61 "Subida de textos: editor de textos WYSIWYG"
(esto es un wishlist, claro)
Existiría algún tipo de interface para la subida de los textos que permita que el formateo del texto no sea con etiquetas sino como si fuera el word o algo así...

[2012-03-13 13:01] fanetin opened #62 "Campo de TAGS"
En donde pone cambiar TAG LIST por ETIQUETAS
No debería diferenciar entre mayúsculas y minúsculas. Ahora me coge dos veces el tag, por ejemplo VIOLENCIA es distinto de Violencia y es distinto de violencia. Lo mismo con los acentos.

[2012-03-13 13:07] fanetin opened #63 "Campos de subida de materiales (explicación al usuario)"
En las páginas de subida de materiales, añadiremos un texto debajo de cada nombre de campo (como título, texto, ¿donde ha sucedido?, etc...) donde hacer una descripción de QUE y COMO hay que meter la información en ese campo.
Si metéis cualquier texto y nos dais el link al archivo donde estén, nosotros nos encargamos de redactarlos y meter los textos en el fichero que nos señaléis del github.
El f

[2012-03-13 13:21] fanetin opened #64 "Campo de LOCALIZACIÓN (¿dónde ha ocurrido?) en subida de materiales"
Tiene que haber campos distintos para meter "calle", "cuidad" y "pais", de modo que sean obligatorios meter por lo menos "ciudad" y "pais". Tal como está ahora, si meto: “Mayor, Madrid” me sale en le mapa un sitio en los EEUU...
Muchas veces la gente no va a saber la calle en la que estaba, pero sí la ciudad y país.
En el caso de FOTOS, VÍDEOS y AUDIOS serían obligatorios rellenar: "ciudad" y "pai

[2012-03-13 13:21] apardo opened #65 "regex para url"
No termino de dar con la regex para que haga match con profile_path

Ahora mismo tenemos esto:

get 'profile/:username' => 'pages#profile', :constraints => /^([\w.%+-]+)$/i, :as => 'profile'

Funciona para antonio.pardo pero no para antonio.pardo.sanchez

¿Alguien puede mirarlo?

[2012-03-13 13:23] fanetin opened #66 "Campo de FECHA (¿cuándo ha ocurrido?) en subida de materiales"
Aquí habría que cambiar el formato de fecha al español, o sea: DD-MM-AAAA y la hora dejarnos de UTCs y ajustes de +2 y cosas de esas y que se meta una sola hora (que es la local) y que sea la única hora que se use a la hora de representar en el mapa de tiempo. Si alguien mete algo en San Francisco a las 2 de la mañana, que en Madrid es otra hora, da igual, que se represente todo a las 2.

[2012-03-13 13:42] fanetin opened #67 "Delimitar QUE contenidos se representan en el timeline y resto de vistas"
Quedamos en definir un número máximo de elementos que se representan en el mapa geográfico, o en timeline temporal, etc...

A ver como lo hacemos. A mí me da miedo que un usuario que sube sus fotos no las puede ver en las vistas (porque de forma random o con la estreillta o con mezcla de ambos sistemas han sido seleccionadas otras) Se supone que le pedimos a la gente su material para enseñarlo y p

[2012-03-13 13:49] fanetin opened #68 "USUARIO, que puede hacer, que se ve, como..."
Es importante que un usuario desde su cuenta pueda: además del avatar, meter un pequeño texto con links o lo que sea. Una "bio". Personalizar un poco su "página personal" dentro de la web de 15M.cc

Otra cosa importante es que cada usuario, además de ver el listado de sus contenidos subidos, pueda visualizarlos en el timeline y mapa geográfico, donde SOLO salga lo suyo. Eso sí, en este caso todo l

[2012-03-13 13:55] fanetin opened #69 "boton de "volver a la página anterior""
En las páginas de representación de material como esta: http://beta.15m.cc/audios/gritos hay que poner arriba y visible (por ejemplo, arriba del título)  un link de "volver a la página anterior", teniendo en cuenta que muchas veces llegamos a estas páginas desde una nube de tags o el mapa conceptual y queremos volver exactamente al punto anterior...

Ahora hay puesto uno abajo y en pequeño, pero n

[2012-03-13 14:11] fanetin opened #70 "barra de progreso en la subida de materiales"
Ahora mismo al subir un un audio (archivo de cierto tamaño), sólo se ven en la barra de abajo del navegador el progreso, y no se nota como va o si funciona ni nada.. Haría falta poner CUALQUIER sistema de progreso para que la gente no se irrite o corte las subidas.

[2012-03-13 14:16] fanetin opened #71 "ERROR -> linkeado de VÍDEOS"
Hace falta poner el campo de título. De momento el título lo coge (ahora no se abre la página, no sé si de la URL o del nombre del vídeo en su plataforma de origen). Habría que poder meter un título.

 (además de el autor, como vimos en el ticket: https://github.com/alabs/15mcc/issues/60 )

[2012-03-13 14:19] #71 closed, assigned to nobody

[2012-03-13 14:31] fanetin opened #72 "nombres/URL de contenidos y carpeta/estructura de archivado de materiales"
Hemos visto que esta es la estructura de nombrado y guardado de materiales: http://beta.15m.cc/videos/placasol

Pienso que estaría bien meter un nivel más, el usuario de forma que quede así: http://beta.15m.cc/fanetin/videos/placasol o algo parecido, así nos evitamos el problema de no poder dar dos personas el mismo nombre a dos archivos. Me explico.

Mucha, mucha mucha gente intentará nombrar una

[2012-03-14 07:39] andreslucena commented on #70
Ticket duplicado:

https://github.com/alabs/15mcc/issues/20

[2012-03-14 07:39] #70 closed, assigned to nobody

[2012-03-14 07:39] andreslucena commented on #20
Ticket duplicado: https://github.com/alabs/15mcc/issues/70

[2012-03-14 08:20] andreslucena commented on #55
En principio para enlazar a algo lo hacemos contra esta pagina:

http://beta.15m.cc/pages/condiciones-de-uso

Es editable por los admins.

[2012-03-14 08:20] #55 closed, assigned to nobody

[2012-03-14 09:03] andreslucena commented on #69
Vale, se podría hacer. Lo unico que encuentro es que si alguien viene desde algun lado exterior (google o facebook) al darle click a ese boton les sacaría de la pagina y los llevaria de vuelta a donde vinieron, no?

[2012-03-14 09:26] #66 closed, assigned to nobody

[2012-03-14 09:30] andreslucena commented on #67
Creo que a lo que habiamos llegado era de hacerlo random, por ejemplo si hay 500 contenidos se muestran siempre 50 distintos.

Para controlar la calidad de esto, utilizamos tambien el priority (el corazón que hay que revisar). Esta es una accion que pueden controlar los admins diciendo que este contenido esta bien y que queremos darle visibilidad (más prioridad).

Entonces, se mostraría una cantid

[2012-03-14 09:32] andreslucena commented on #57
Para no liarnos, igual creo que sería mejor pasar de gravatar y hacer directamente lo de la subida del avatar, si no la cosa puede complicarse (que pasa cuando tengo un gravatar y subo una foto? como hago para que vuelva a tirar de gravatar directamente?).

[2012-03-14 10:41] andreslucena commented on #68
Hecho lo del timeline y mapa geografico.

[2012-03-14 10:44] andreslucena opened #73 "Diseño general: implantar mockups"
El diseño general de la web tiene que ser el mismo de la ultima versión de los mockups.

[2012-03-14 10:45] andreslucena commented on #52
Hecho las traducciones y los mensajes, cierro el ticket

[2012-03-14 10:45] #52 closed, assigned to nobody

[2012-03-14 10:45] andreslucena commented on #50
hecho, con maxlength y mensaje abajo, y se subio a 20 catacteres

[2012-03-14 10:45] #50 closed, assigned to nobody

[2012-03-14 11:01] andreslucena commented on #68
Hecha la biografía de usuario

[2012-03-14 11:31] pedrogonzalezj commented on #62
@fanetin esta todo menos la parte de los acentos, voy a ver si encuentro alguna forma de hacerlo pero tiene pinta de que va a ser problemático.

[2012-03-14 11:37] fanetin commented on #62
Ok, gracias. Por cierto, muchas gracias por tu ayuda en el proyecto. Desde ayer que estoy en el GutHub veo que te has movido mucho ;-) Si te podemos nosotros ayudar en algo, ya sabes...

[2012-03-14 11:39] fanetin commented on #69
Sí, pero me preocupa mucho que te hagan una búsqueda en el mapa (por ejemplo) y andes zoomeando y reencuadrando y al ver un material ya no puedas volver al mapa... Puede ser frustrante.

Creo que es necesario. Gracias

[2012-03-14 11:49] fanetin commented on #20
Ah, siento haber abierto el otro ticket. Al estar este cerrado no lo vi :-/

[2012-03-14 11:52] fanetin commented on #57
Pues sí. Lo de Gravatar es una buena idea pero muy minoritario. Así que si, mejor subir cada uno el suyo.
gracias

[2012-03-14 12:07] andreslucena commented on #64
Hecho lo de los tres campos, hecho tambien lo del zoom.

Falta lo de que si es texto no es obligatorio.

[2012-03-14 12:13] andreslucena commented on #68
Falta lo del avatar que se lleva en este otro ticket: https://github.com/alabs/15mcc/issues/57

Tambien falta el diseño, @patrihorrillo podrías hacernos un mockup de como quieren esta página por favor? Ahora mismo los elementos que estarían están desordenados, pero serían:
- Nombre de usuario
- Avatar
- Biografia
- Mapa geografico con contenidos
- Linea de tiempo con contenidos
- Galeria de thumbs

[2012-03-14 12:37] andreslucena commented on #57
ok, hecho.

[2012-03-14 12:37] #57 closed, assigned to nobody

[2012-03-14 12:45] andreslucena commented on #69
Hecho

[2012-03-14 12:45] #69 closed, assigned to nobody

[2012-03-14 12:46] andreslucena commented on #51
Hecho. No encontre la forma de buscar los avisos que queden en ingles, pero se iran traduciendo segun se vayan eonctrando.

[2012-03-14 12:46] #51 closed, assigned to nobody

[2012-03-14 12:48] andreslucena commented on #59
Los contenidos ya subidos por ese usuario seguirian siendo visibles o se bloquearian?

[2012-03-14 12:54] pedrogonzalezj commented on #62
@fanetin @andreslucena @apardo En principio no veo manera de implementar la parte de los acentos sin tocar el código de tagit! y no me parece muy buena idea porque en parte nos dificulta actualizar esta librería. Se me ocurre como alternativa utilizar la función tagSource de tagit! y obtener con ajax la lista de tags existentes para que el autocompletar evite en parte la duplicidad de etiquetas. ¿

[2012-03-14 13:02] fanetin commented on #59
Seguirían siendo visibles.
Se crearía un usuario "aleatorio" y las obras subidas por esa persona se quedan bajo ese nombre (eso lo comentásteis en la reu)

En el email de borrar la cuenta se le explica al personal. (pondremos un sistema de tener que confirmar el borrado en un email)

También les diremos en ese email que si quieren borrar una foto en concreto "denuncien" el contenido y nos digan.

[2012-03-14 16:06] patrihorrillo commented on #68
Hola Andrs,

Estoy haciendo el mockup pero veo que ya ests cambiando cosas en el perfil
de usuario. Lo mismo sera mejor que esperes un poco a que lo termine para
no pisaros trabajo. En una hora lo tienes.

Gracias,
Patricia

2012/3/14 Andrs Lucena <
reply@reply.github.com

##

---

_Patricia Horrillo *| Periodismo y diseo | [+34] 609 261 142
*patricia@15M.cc_ | @15M_cc http://twitter.com/#!/15M_cc

[2012-03-14 16:57] patrihorrillo commented on #68
Hola,

En la carpeta de aLabs del Dropbox hemos metido dos imágenes nuevas: mockup_usuario y mockup_usuario_comentado con algunas observaciones. Decidnos si con esta imagen tenéis suficiente para poneros con esta parte y si se entiende todo bien.

El ancho que hemos usado para distribuir el material (ancho del hueco para la visualización del mapa, timeline,..., tablas) es de 700px.

Gracias,
Patri

[2012-03-14 17:15] fanetin opened #74 "registro usuario: campo para 'link' y para 'nombre'"
en los registros de usuarios habría que implementar dos nuevos campos. Uno de un link y otro de su "nombre". el del nombre que sea obligatorio de rellenar y el del link no.

Esto solo sirve para cuando se represente en la página de usuario (mirad los mockups nuevos de usuario que ha subido Patricia al dropbox)

[2012-03-14 17:18] patrihorrillo commented on #73
Ya está disponible en el dropbox de aLabs el 1er css de la página. Es muy muy muy sencillo pero vamos a partir de ahí y ya seguiremos avanzando ;)

[2012-03-15 12:46] andreslucena commented on #68
@patrihorrillo OK, creo que con eso ya nos vale... Queda muy bien  :)

@apardo te la asigno a ti, sería aplicar el mockup que nos paso.

[2012-03-15 15:16] apardo commented on #59
Baneo de usuarios implementado a través del panel de administración.

[2012-03-15 15:16] #59 closed, assigned to nobody

[2012-03-16 12:15] patrihorrillo commented on #68
Hola, ya hemos visto que se puede subir una foto de avatar, pero habría que cortar las fotos a un máximo de 128x128px. porque ahora tengo la pantalla con mi super fotaca cubriendo todo. No sé si con dejar esto aquí es suficiente o si preferís que abra un ticket nuevo. Me decís. Gracias :)

[2012-03-20 15:26] #74 closed, assigned to nobody

[2012-03-20 15:39] apardo commented on #73
La home salvo un par de detalles está lista: http://beta.15m.cc/

[2012-03-20 15:43] apardo commented on #68
Todo claro, me pongo a maquetar esa página.

[2012-03-20 15:46] apardo commented on #62
@peome si ves viable esta solución que propones por mí adelante.

[2012-03-20 15:52] andreslucena commented on #62
@peome lo del tagSource es como lo hacemos de momento (no me gustaba lo de dejar todos los tags en el HTML). Así es como está ahora:

[code]

El controlador es tags_controller.rb, el metodo es search... Igual se puede tocar directamente ahí lo de acentos?

[2012-03-20 15:54] pedrogonzalezj commented on #62
@andreslucena si, creo que sería la mejor opción. Pruebo a ver como va metiendo la parte de los acentos ahí.

[2012-03-21 11:44] andreslucena commented on #72
@apardo de cara a la validación tendría que ser algo así:

  validates :slug, :uniqueness => { :scope => :user }

[2012-03-21 11:47] andreslucena opened #75 "Mockup de ficha de contenido"
Ahora mismo las fichas de contenidos (por ejemplo: http://beta.15m.cc/videos/interacciones-entre-usuarios-15m) no tienen ningun diseño, habría que preparar un mockup con el diseño de la ficha, la información que tendría es la misma que hay ahora sumandole el avatar del usuario.

Puede depender del tipo de contenido (imagen, texto, video, audio), aunque por ejemplo para imagen/video podría ser prac

[2012-03-21 12:07] patrihorrillo commented on #75
Ok. Lo miramos y preparo un mockup para esto.

Gracias.

2012/3/21 Andrs Lucena <
reply@reply.github.com

##

---

_Patricia Horrillo *| Periodismo y diseo | [+34] 609 261 142
*patricia@15M.cc_ | @15M_cc http://twitter.com/#!/15M_cc |
_www.15M.cc_http://www.15M.cc
_patricia.horrillo@gmail.com_ patricia.horrillo@gmail.com |
@patrihorrillohttp://twitter.com/#!/patrihorrillo
patrihorrillo.blogspot.co

[2012-03-21 17:42] fanetin opened #76 "Cambiar "Homepage" a "Link" en Registrarse"
Cambiar Homepage a Link en Registrarse

[2012-03-21 17:43] fanetin opened #77 "Añadir "link" en "Editar Usuario""
Añadir "link" en "Editar Usuario"

[2012-03-21 17:48] fanetin opened #78 "Posibilidad de poner un botón de "DESCARGAR" para textos, fotos y audios"
Dado que todo el material es CC BY/SA y debe ser reutilizado, estaría bien facilitar su descarga.

Quizás mediante un botón de "descargar". Me preocupan los audios sobre todo. Los textos y fotos podemos explicar (selecciona y corta o click derecho: guardar como) pero los audios... ¿como se descargan?.

Para los vídeos pondremos un tutoría que hable de la extensión de firefox VideoDownloader

[2012-03-22 10:22] apardo commented on #76
No entiendo el ticket @fanetin ¿lo puedes detallar un poco más?

[2012-03-22 10:23] apardo commented on #77
No entiendo el ticket @fanetin ¿lo puedes explicar con más detalle?

[2012-03-22 16:32] fanetin commented on #76
Digo que ne la pantalla de registrase, creo que donde pone HOMEPAGE, que es el campo para meter un hiperenlace a algo tuyo, habría que cambiarlo a LINK o algo más claro.

[2012-03-22 16:34] fanetin commented on #77
Aquí, enlazando con https://github.com/alabs/15mcc/issues/76 digo que cuando te registras puedes meter un hiperenlace, pero ese campo no te sale al editar tu perfil. Habría que añadirlo por si alguien quiere cambiar el hiperenlace que introdujo al registrarse.

[2012-03-22 17:26] apardo commented on #77
hecho

[2012-03-22 17:26] #77 closed, assigned to nobody

[2012-03-22 17:28] apardo commented on #76
Ahora pone 'URL de tu web'. ¿Vale con eso?

[2012-03-22 17:28] apardo commented on #56
Facebook hecho.

[2012-03-23 11:58] andreslucena commented on #78
Hecho, para no liar a la gente con el "Guardar como" hemos puesto un boton de "Descargar". Funciona para los 3 tipos (texto, foto, audio).

Falta la tutoria del VideoDownloader

[2012-03-23 12:18] andreslucena commented on #60
¿Que pasa con el tick de "soy el autor" si el usuario es anonimo??

Creo que sería mejor que directamente haya dos campos nuevos:
- Nombre del autor (obligatorio)
- URL del autor

[2012-03-23 12:20] andreslucena commented on #76
@fanetin lo hemos cambiado a "URL de tu web", vale con eso?

[2012-03-23 12:38] fanetin commented on #60
Sí, esa es la idea.

con la posibilidad de que si "tickeas" "soy el autor" se te ocultan (o ponen grises) esos dos campos

[2012-03-23 12:48] #64 closed, assigned to andreslucena

[2012-03-23 12:48] andreslucena commented on #64
Hecho lo del texto no obligatorio.

[2012-03-23 14:12] andreslucena commented on #65
solucionado, SO siempre ayuda ;)

http://stackoverflow.com/questions/6065955/rails-routes-match-full-hostname-with-multiple-period-in-between

[2012-03-23 14:12] #65 closed, assigned to nobody

[2012-03-23 14:13] andreslucena commented on #60
vale, que entonces el usuario anonimo no tiene ese checkbox y ya...

[2012-03-23 14:20] andreslucena commented on #63
@fanetin hay dos formas de mostrar las ayudas:
1. "placeholder": directamente en el campo, cuando se escribe algo desaparece. Por ejemplo en:
   http://beta.15m.cc/texts/new
   Sería lo de "Titulo del texto", "Cuerpo del texto", "Etiquetas separadas por comas", etc
2. Texto debajo del campo: esta siempre que se escribe. Por ejemplo en:
   http://beta.15m.cc/users/edit
   Seria lo de "(necesitamos

[2012-03-23 14:37] andreslucena opened #79 "Imagen de avatar por defecto"
De momento hemos puesto una de una mascara de V, pero igual estaría mejor con algo con menos copyright y que no sea de la Warner :S

Alguna idea?

[2012-03-23 14:51] andreslucena commented on #67
@fanetin falta lo de las busquedas, puedes crear el ticket?? SI puede ser con mockup mejor :)

[2012-03-23 15:03] fanetin commented on #63
Seria de la 2. Que esté siempre presente.
Gracias

p.s. sin os apuntáis al fichero, nos encargamos nosotros de meter los textos cuando los tengamos y tal

[2012-03-23 15:05] fanetin commented on #79
Nos mola la idea de anonymous. Deberíamos buscar una máscara de esas, pero dibujada.
Os pasamos algo.

[2012-03-26 11:32] #79 closed, assigned to patrihorrillo

[2012-03-26 11:34] #76 closed, assigned to fanetin

[2012-03-26 11:42] apardo commented on #58
Entonces propongo una cosa:

1.- Antes de ejecutar las operación de borrado de usuario.
2.- Asignar todo su contenido al usuario anonymous
3.- Borrar usuario.

¿Os parece?

[2012-03-26 13:21] andreslucena commented on #58
@apardo +1

Lo unico que veo un problema es en el slug/titulo. Por ejemplo, si mi usuario tiene un texto con titulo "hola mundo!" (url = /anders/texts/hola-mundo) si despues me borro, cuando me muero paso a ser anon (/anon/texts/hola-mundo). ¿Que pasa en casa de que haya un texto con esa URL como anon?

Tambien faltaría lo de la confirmación de usuario por correo electronico.

[2012-03-28 09:01] andreslucena commented on #63
Ya está hecho el cambio, el fichero que tendrían que modificar es este:
https://github.com/alabs/15mcc/blob/master/webapp/config/locales/es.yml#L252

Es en el arbol que pone "help". Lo único que se puede cambiar es lo que está entre comillas.Se puede cambiar directamente desde github dandole al botón de "Edit this file". El cambio no se promociona inmediatamente a la web.

Si ven que hay alguno qu

[2012-03-28 09:58] andreslucena commented on #60
Ya está hecho, funciona así:
- Si el usuario no esta registrado (es anonimo) no muestra el checkbox de soy el autor, solo lo del nombre y la URL
- Si esta registrado, aparece este checkbox, si le hace click desaparecen los otros campos.

[2012-03-28 09:58] #60 closed, assigned to andreslucena

[2012-03-28 09:59] andreslucena commented on #63
@fanetin te la asigno hasta q me digas algo sobre lo de los placeholders...

[2012-03-28 10:11] fanetin commented on #58
pregunto: ¿en vez de texto para la URL no se podría asignar a cada material un número y que este vaya corriendo con lo que nunca haya dos iguales?

Así no habría conflicto. Hay un número único por cada foto, texto, etc...

[2012-03-28 10:16] fanetin commented on #72
mirad -> https://github.com/alabs/15mcc/issues/58#issuecomment-4752423     ¿qué tal usar números en vez de nombres?

[2012-03-28 10:22] apardo commented on #58
Si, en vez del hola-mundo puede ser el id alfanumérico asignado por la base de datos. No hay dos iguales.

[2012-03-28 10:22] apardo commented on #72
+1

[2012-03-28 10:24] andreslucena commented on #58
+1, lo unico que se pierde con eso es lo de las URLs amigables, pero si
lo ven bien tiremos por ahi...

Una alternativa que había comentado @apardo es de renombrar la cuenta
del usuario, y bloquear su acceso.

[2012-03-28 10:48] fanetin commented on #63
Ya he modificado el archivo. A ver como queda y vamos afinando los textos.
Lo del placeholder que dices no lo entiendo bien...
La idea, creo, es quitar el texto de dentro del os placeholders y sustituirlo por el que hemos cambiado que sale abajo del recuadro, ¿no?

[2012-03-28 11:11] fanetin commented on #79
enviado gráfico a usar por email a @apardo y @andrés

[2012-03-28 12:16] fanetin opened #80 "Campo URL de la subida de materiales"
hace falta que se meta el http:// delante para que lo reconozca. Yo creo que nadie sabe meterlo, así que sería interesante quitar ese requisito o nadie va a poder subir materiales. Que sep ueda meter "paco.net" o "twitter.com/paco" y así , ¿no?

[2012-03-28 15:37] andreslucena commented on #63
@fanetin he subido el cambio que has hecho, puedes ver como queda aqui por ejemplo:
http://beta.15m.cc/texts/new

Mi duda es si quieren que quede como en "Autor (nombre)" (sin placeholder) o como en "¿Cuando ha ocurrido?":

¿Cuándo ha ocurrido? -
Fecha en al que ha ocurrido -
Indica la fecha y hora que sucedió lo que muestras / describes en el material que estás subiendo. Si no indicas nada, se as

[2012-04-02 08:07] andreslucena commented on #58
@fanetin el problema de usar el ID es que la URL pasa a ser muy poco amigable, por ejemplo con un articulo con titulo "hola mundo" seria:
http://15m.cc/profile/anders/texts/4f795d8f207a5c41362372d5

Tal y como lo hacemos ahora queda asi:
http://15m.cc/profile/anders/texts/hola-mundo

La solución que mas me gusto es la que comentó @apardo de renombrar la cuenta y que no haya dos cuentas renombradas

[2012-04-09 05:45] andreslucena commented on #58
He encontrado que en reddit, para resolver este problema y también el de privacidad, lo que hacen es que al borrar el usuario aparece como nombre "borrado" y sin link de ningun tipo (ni a anonimo ni al usuario renombrado).

Por ejemplo: http://www.reddit.com/r/pics/comments/iwkkx/this_is_called_humanity/c277fwb

La primera respuesta a ese comentario pertenece a "[deleted]". Creo que puede ser una

[2012-05-07 08:28] #63 closed, assigned to fanetin

[2012-05-14 14:52] iokese opened #81 "Error con imágen"
http://bancodeideas.15m.cc/tags/show/15M

He subido esa imagen como usuario anónimo y han pasado 2 cosas:
- El aviso de que he subido la imagen no ha aparecido.
- Al pinchar en la imagen da error.

P.D: No metí la localización.

[2012-05-14 15:36] iokese opened #82 "El botón "descargar" se descoloca"
http://bancodeideas.15m.cc/profile/anonymous/videos/4fb11e9f72cfb74353000002

Queda a la derecha del vídeo en vez de abajo.

[2012-05-14 15:41] iokese opened #83 "Error en Login con Facebook"
No me loguea, y me sale este error: translation missing: es.devise.omniauth_callbacks.success

[2012-05-14 15:53] iokese commented on #81
Como usuario registrado funciona mejor pero no del todo: No deja poner la localización y al darle a enviar entonces te la pide. Después de eso todo correcto, la imagen aparece.

Sigue el problema como usuario anónimo.

[2012-05-15 11:36] iokese opened #84 "Error al subir audio"
Al subir un audio cómo usuario registrado da aviso de error, pero en realidad si miras luego si que lo ha subido... incluso acepta duplicar el mismo fichero con el mismo nombre :P.

[2012-05-16 06:30] andreslucena commented on #83
En principio esta solucionada, en sí permitio que hayas iniciado sesion, solo faltaba el mensaje de aviso; lo puedes comprobar?

[2012-05-16 06:31] andreslucena commented on #82
estamos tocando el css, de momento no es valido

[2012-05-16 06:31] #82 closed, assigned to nobody

[2012-05-16 09:15] iokese commented on #83
Comprobado, ya funciona.

[2012-05-16 09:15] #83 closed, assigned to andreslucena

[2012-05-16 09:47] apardo commented on #81
No puedo reproducirlo. Como usuario anónimo no me da error. Solo hay que mirar el mensaje flash amarillo que aparece en el segundo paso, no se ve el mensaje.

[2012-05-16 09:52] apardo commented on #84
A mi no me da error, solo que el player en chrome no funciona.

[2012-05-16 11:20] #73 closed, assigned to apardo

[2012-05-16 11:20] #75 closed, assigned to patrihorrillo

[2012-05-16 11:21] andreslucena commented on #78
para hacer la tutoria se haria en esta pagina:

http://bancodeideas.15m.cc/pages/videodownloader

le podemos cambiar el nombre de la URL

[2012-05-16 11:21] #78 closed, assigned to fanetin

[2012-05-16 11:22] andreslucena commented on #72
aplicado el cambio:

http://bancodeideas.15m.cc/profile/isaac.hacksimov/videos/4fb23a4b72cfb74ae6000001

http://bancodeideas.15m.cc/profile/anonymous/audios/4fb3787472cfb75344000003

[2012-05-16 11:22] #72 closed, assigned to apardo

[2012-05-16 11:24] andreslucena commented on #58
Entonces el flow final es el siguiente:
1. El usuario le da click al boton de borrar cuenta
2. Se le envia un correo de confirmacion con token
3. Al confirmar, se cambian de usuario sus contenidos, pasando a pertenecer al usuario "anonymous"

[2012-05-16 11:24] #68 closed, assigned to apardo

[2012-05-16 15:09] iokese commented on #81
Solucionado.

[2012-05-16 15:09] #81 closed, assigned to andreslucena

[2012-05-16 15:11] iokese commented on #84
Solved.

[2012-05-16 15:11] #84 closed, assigned to andreslucena

[2012-05-16 17:24] iokese opened #85 "Texto en mapa"
El texto aparece sin formateo, al menos necesitamos que aparezcan los saltos de línea y que en la preview del mapa no se vean más de 500 caracteres y "Sigue leyendo".

[2012-05-22 09:56] andreslucena opened #86 "Videos: no reconoce urls del tipo http://youtu.be/"
Unsuported url or service
  acts_as_unvlogable (1.0.0) lib/acts_as_unvlogable.rb:26:in `initialize'

http://youtu.be/VFXvEpuwejs

[2012-05-22 09:58] andreslucena opened #87 "CSS: revisar ancho de la pagina"
Tendria que ser de 900px, hay que tener en cuenta los spans del bootstrap:

http://twitter.github.com/bootstrap/scaffolding.html#gridCustomization

[2012-05-22 10:37] #85 closed, assigned to nobody

[2012-05-22 10:38] andreslucena commented on #85
ya esta el link funcionando

[2012-05-22 16:18] apardo commented on #87
El wrapper general ya está a 900px pero ahora se ha descolocado el contenido interno del wrapper. Durante el día de hoy me pongo a arreglar todo eso.

[2012-05-23 07:23] apardo commented on #86
Solucionado

[2012-05-23 07:23] #86 closed, assigned to nobody

[2012-05-23 07:35] andreslucena commented on #62
hay que revisarlo en produccion, para ver si se puede volver a repetir. El ejemplo clasico q se puede usar es "15m"/"15M"

[2012-06-08 21:40] iokese opened #88 "Incluir imagen desarrolladores"
Incluir logo de desarrolladores.